* {
    margin: 0;
    padding: 0;
}
.center {
    background-color: blue;
    color: yellow;
    text-align: center;
}
.para-container p {
    margin: 2%;
}
.image1 {
    background-image: url(../images/puppy-1.jpg);
}
.image2 {
    background-image: url(../images/puppy-2.jpg);
}
.all-images div {
    height: 310px;
    background-size: cover;
    width: 308px;
    margin: 2% auto;

}
/* *********************************** */
/* MEDIA QUERY: 1st Media Query */
/* *********************************** */

@media (min-width: 700px) {
    .para-container {
        display: flex;
    }
    .p2 {
        display: none;
    }
    .all-images {
        display: flex;
        width: 650px; 
        margin: 0 auto;
    }
    .image2 {
        background-image: url(../images/cat.jpg);
    }
}

/* *********************************** */
/* MEDIA QUERY: 2nd Media Query */
/* *********************************** */

@media (min-width: 1000px) {
    .p2 {
        display: block;
    }
    .para-container p {
        background-color: green;
        color: white;
       
    }
    .all-images {
        width: 950px;
    }
    .para-container {
        width: 950px; 
        margin: 0 auto;
    }
}
